html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #d05c2e;
  color: #fff;
  text-align: center;
}

div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em 0;
}

img {
  width: 40px;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

nav {
  justify-content: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

nav li {
  font-size: 1.125rem;
  padding: .4rem 0;
  border: 1px solid #a63f38;
  width: 33.3333%;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  background-color: #a63f38;
}

li:hover {
  background-color: #a63f38;
}
